@import "variables";
@import "vendor/slick";

.video-slider {  
  margin-left: -10px;
  margin-right: -10px;

  .slick-track .slick-slide{
    display: flex;
  }

  .slick-slide {
    img {
      height: 192px;
      width: 100%;
      object-fit: cover;
    }
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
  }
  

  .video-item.slick-slide {
    cursor: pointer;
    position: relative;
    outline: none;
    height: unset;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 10px;
    text-align: left;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
   

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    h4, h5 {
      font-size: 23px;
      line-height: 28px;
      margin: 20px;
      font-weight: normal;
      color: #333;

      @media all and (max-width: $grid-float-breakpoint) {
        font-size: 20px;
      }

      @media all and (max-width: $screen-sm-min) {
        font-size: 18px;
      }
    }

    .play-btn {
      width: 50px;
      height: 50px;
      background: RGB(0 0 0 / 60%);
      color: #fff;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 25%;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .slick-arrow {
    background: #404040;

    &:hover {
      background: darken(#404040, 5%);
    }
  }

  .slick-arrow-prev, // sass-lint:disable-line empty-line-between-blocks
  .slick-arrow-next { // sass-lint:disable-line empty-line-between-blocks
    top: 95px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    position: absolute;
    font-size: 12px;

    i {
      color: $color-white;
    }
  }

  .slick-arrow-next {
    right: -10px;

    @media all and (max-width: $screen-sm-min) {
      right: 0;
    }
  }

  .slick-arrow-prev { // sass-lint:disable-line empty-line-between-blocks
    left: -10px;

    @media all and (max-width: $screen-sm-min) {
      left: 0;
    }
  }
}

.slick-arrow-prev.slick-arrow i {
  margin-left: -3px;
}

.slick-arrow-next.slick-arrow i {
  margin-right: -3px;
}

#videoCarouselModal .btn {// sass-lint:disable-line id-name-format
  color: #333333;
}
