---
layout: markdown_page
title: "Section Direction - Ops - Tiering Strategies"
description: "The GitLab Ops Section - Tiering Strategies"
canonical_path: "/direction/ops/tiering/"
---

## Tiering Strategies by Stage

### Verify
<%= partial("direction/ops/tiering/verify") %>

### Package
<%= partial("direction/ops/tiering/package") %>

### Deploy
<%= partial("direction/ops/tiering/deploy") %>

### Monitor
<%= partial("direction/ops/tiering/monitor") %>